<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Saisie des sorates</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />

</head>
<body layout:fragment="content">
  <div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3">
	<div class="panel panel-default ">
		<div class="panel-heading">Saisie d'une sorate</div>
		<div class="panel-body">
			<form th:action="@{UpdateSorate}" 
			method="post" th:object="${sorate}" >
				<div class="form-group">
					<label class="control-label">Id</label>
					<input type="text" th:field="*{idSorate}" class="form-control" />
					<span class= "text-danger" th:errors="*{idSorate}"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Nom</label>
					<input type="text" th:field="*{nom}" class="form-control" />
					<span class= "text-danger" th:errors="*{nom}"></span>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
  </div>
</body>
</html>