<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Saisie des sorates</title>
<link rel="stylesheet"  href="../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}" />
<!-- <link rel="stylesheet"  href="../static/js/bootstrap.min.js" -->
<!--       th:href="@{/js/bootstrap.min.js}" /> -->
<link rel="stylesheet"  href="../static/css/myStyle.css"
      th:href="@{/css/myStyle.css}" /> 
</head>
<body>
  <div class="col-md-6 col-xs-12 spacer">
	<div class=" panel panel -default ">
		<div class="panel-heading">Saisie d'une sorate</div>
		<div class="panel-body">
			Formulaire
		</div>
	</div>
  </div>
</body>
</html>