<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>EL MASHAF</title>
<link rel="stylesheet"  href="../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"  href="../static/css/myStyle.css"
      th:href="@{/css/myStyle.css}" /> 
</head>
<body>
  <div class="container spacer">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th> <th>NOM</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="so:${pageSorates.content}">
				<td th:text="${so.idSorate}"></td>
				<td th:text="${so.nom}"></td>
			</tr>
		</tbody>
	</table>
  </div>
</body>
</html>