<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>EL MASHAF</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />

</head>
<body layout:fragment="content">
  <div class="container spacer" >
  	<a th:href="@{form}">Ajouter une sorate</a>
  </div>
  <div class="container spacer">
  	<form th:action="@{Index}" method="get">
  		<div class="form-group">
  			<label>Mot Cle</label>
  			<input type="text" name="motCle" th:value="${motCle}"/>
  			<button type="submit">Chercher</button>  			
  		</div>	
  	</form>
  </div>
  <div class="container spacer">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th> <th>NOM</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="so:${pageSorates.content}">
				<td th:text="${so.idSorate}"></td>
				<td th:text="${so.nom}"></td>
				<td><a onclick="return confirm('Etes vous sure du supprimer?')" th:href="@{supprimer(idSorate=${so.idSorate})}">Supprimer</a></td>
				<td><a  th:href="@{edit(idSorate=${so.idSorate})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
  </div>
  <div class="container ">
  	<ul class="nav nav-pills ">
  		<li   th:each="p:${pages}" th:class=" ${p==pageCourante}?active:''">
  			<a  th:text="${p}" th:href="@{Index(page=${p}, motCle=${motCle})}"></a>
  		</li>
  	</ul>
  </div>
  
</body>
</html>